@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


// font Family
$Noto :'Noto Sans KR';

$Inter : 'Inter';


$lighWhite:#F5F3F3;
$white:#ffffff;
$green:#2C9512;
$lightGray :  #6D6D6D;
$sliderClor:#DAE1E7;
$smallcard: #D9D9D9;
$footerBg: #9E9E9E;

